<h2>All posts!</h2>

<% @posts.each do |post|%>
<h3><%= post.title %></h3>
<p><%= post.body%></p>

<% if author_signed_in? %>
 <h5>
	By: <%= post.author.name %>
		
  </h5>
  <% else %>
 <h5>
	By: **********
		
  </h5>
  <% end %>
<%end%>

<% if author_signed_in? %>
 <p>
	 <span><%= link_to 'Log out', destroy_author_session_path,  method: :delete %></span>
</p>
<% end %>